<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  </head>
  <body>
    <form action='' method='POST'>
      <button name="want-it" id="want-it">I want</button>
    </form>

    <script type="text/javascript" charset="utf-8">
      var formButton = $('#want-it');
      formButton.submit(function(ev) {
				$.ajax({
            type: formButton.attr('method'),
            url: formButton.attr('action'),
            data: formButton.serialize(),
            success: function (data) {
                alert('ok');
            }
				};
        ev.preventDefault();
      );
    </script>
 </body>
</html>

